// SECTION banner :: START

section#bfcm-banner.bfcm-banner
  .c-grid

    p.bfcm-banner__subtitle BLACK FRIDAY & CYBER MONDAY DEALS
    h1.bfcm-banner__title THANKFUL SALE

    .bfcm-banner__box-wrapper
      .bfcm-banner__box

        .bfcm-banner__box-cover

          p.bfcm-banner__box-subtitle SITEWIDE CYBER MONDAY SALE
          p.bfcm-banner__box-sale 20% Off
          p.bfcm-banner__box-title Your entire Purchase
          p.bfcm-banner__box-detail!= "Use code <span>CYBER</span>"

        p.bfcm-banner__box-info Ends tonight, Monday 12/2 11:59 pm CT Full price items only. Exclusions apply. Cannot be applied to a previous purchase.

// SECTION banner :: END