// SECTION category :: START

mixin bfcmCategory(classMod, href, img, badge, title, info, descArr)
  a.bfcm-category__box(href!= href class!= "bfcm-category__box-" + classMod title='')
    .bfcm-category__box-head
      .bfcm-category__box-image
        img(src='img/' + img + '.jpg')
        img(src='img/' + img + '-mobile.jpg')
    .bfcm-category__box-body
      p.bfcm-category__box-badge!= badge
      p.bfcm-category__box-title!= title
      if(info)
        p.bfcm-category__box-info!= info
      each val, idx in descArr
        p.bfcm-category__box-desc!= val

section#bfcm-category.bfcm-category

  p.bfcm-category__title TOYS

  .c-grid
    .bfcm-category__wrapper.bfcm-category__wrapper-1

      .bfcm-category__box-wrapper
        div
          +bfcmCategory('1', 'https://www.thetot.com/shop/brand/banwood-bikes/', 'sq1-min', 'BANWOOD BIKES', 'Free Helmet', '', ['Exclusively at The Tot,', 'Receive a free Banwood helmet with each bike purchase'])
        div
          +bfcmCategory('2', 'https://www.thetot.com/shop/brand/milton-goose/', 'sq2-min', 'MILTON & GOOSE', '20% Off', '', ['Entire Collection'])
        div
          +bfcmCategory('3', 'https://www.thetot.com/shop/brand/micro-kickboard/', 'sq3-min', 'Micro KickboarD', '20% Off', '', ['All Scooters'])
        div
          +bfcmCategory('4', 'https://www.thetot.com/shop/brand/rs-barcelona', 'sq4-min', 'RS-Barcelona', '10% Off ', '', ['Select Game Tables'])

  p.bfcm-category__title APPAREL

  .c-grid
    .bfcm-category__wrapper.bfcm-category__wrapper-2

      .bfcm-category__box-wrapper.bfcm-category__box-wrapper--full
        div
          +bfcmCategory('5', 'https://www.thetot.com/shop/brand/levis/', 'one_colomn_1_levis-min', 'LEVI’s', "30% Off Levi's Custom Jackets", 'Use code <span>CUSTOM</span>', ['Exclusively at The Tot. Exclusions apply. Ends Thursday, 11/28 11:59 pm CT.', 'Cannot be applied to a previous purchase. See site for details.'])
        div
          +bfcmCategory('6', 'https://www.thetot.com/product-category/apparel/', 'one_colomn_2_app-min', 'FASHION APPAREL & ACCESSORIES', '40% Off', 'Use code <span>THANKFUL</span>', ['Exclusions apply. Ends Sunday, 12/1 11:59 pm CT.', 'Cannot be applied to a previous purchase.'])

  p.bfcm-category__title GEAR

  .c-grid
    .bfcm-category__wrapper.bfcm-category__wrapper-3

      .bfcm-category__box-wrapper
        div
          +bfcmCategory('7', 'https://www.thetot.com/shop/brand/nuna/', 'sq9-min', 'NUNA', '$100 Off', '', ['Xxxxxxxxxxxx'])
        div
          +bfcmCategory('8', 'https://www.thetot.com/shop/brand/dockatot/', 'sq10-min', 'DOCKATOT', '20% Off', '', ['Entire Collection'])
        div
          +bfcmCategory('9', 'https://www.thetot.com/shop/brand/4moms/', 'sq11-min', '4moms', '30% Off', '', ['All MamaRoos'])
        div
          +bfcmCategory('10', 'https://www.thetot.com/shop/brand/gb/', 'sq12-min', 'GB POCKIT', '$30 Off', '', ['Entire Collection'])
        div
          +bfcmCategory('11', 'https://www.thetot.com/shop/brand/stokke/', 'sq13-min', 'STOKKE', '20%Off', '', ['Select Styles'])
        div
          +bfcmCategory('12', 'https://www.thetot.com/shop/brand/cybex/', 'sq14-min', 'CYBEX', '20% Off', '', ['Select Car Seats'])
        div
          +bfcmCategory('13', 'https://www.thetot.com/shop/brand/clek/', 'sq15-min', 'CLEK', '20% Off', '', ['All Liing Car Seats'])
        div
          +bfcmCategory('14', 'https://www.thetot.com/shop/brand/bugaboo/', 'sq16-min', 'BUGABOO', 'Take $150 Off', '', ['Purchase a Bugaboo Fox & Bugaboo Ant or Bugaboo Turtle by Nuna'])

  p.bfcm-category__title home

  .c-grid
    .bfcm-category__wrapper.bfcm-category__wrapper-4

      .bfcm-category__box-wrapper
        div
          +bfcmCategory('15', '#', 'sq18-min', 'NOOK', 'Up To 20% Off', '', ['Select Styles'])
        div
          +bfcmCategory('16', 'https://www.thetot.com/shop/brand/babyletto/', 'sq19-min', 'BABYLETTO', '25% Off', '', ['Select Styles'])
        div
          +bfcmCategory('17', 'https://www.thetot.com/shop/brand/halo/', 'sq20-min', 'HALO', '20% Off', '', ['All Bassinets'])

// SECTION category :: END
